<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atlantic Hurricanes</title>
</head>

<body>
  <h1>
    Welcome to the Atlantic Hurricanes visualization app! Which does not work at the moment :s
  </h1>
  <p>
   If you're interested in the start and end points of hurricanes,
      <a  target="_self" href="/spawns">click here</a>.
  </p>
  <p>
   If you're interested in their whole tracks,
      <a  target="_self" href="/tracks">click here</a>.
  </p>
  <p>
        The source code is available
        <a  target="_blank" href="https://github.com/MounBen/hurricanes_visualization">here</a>
        and can be used to run the app locally.
  </p>
  <p>
   The data is freely distributed by the NOAA,
      <a  target="_blank" href="https://www.nhc.noaa.gov/data/#hurdat"> here</a>.
  </p>
</body>
</html>